@font-face {
  font-family: 'itauFontBold';
  src: url('https://github.com/barbvilla/hackaton-itau-1/blob/master/itau-1/public/fonts/Itau%20Text%20Bold.otf') format('truetype'); 
}

@font-face {
  font-family: 'itauFont';
  src: url('https://github.com/barbvilla/hackaton-itau-1/blob/master/itau-1/public/fonts/Itau%20Text.otf') format('truetype'); 
}

@font-face {
  font-family: 'itauFontLight';
  src: url('https://github.com/barbvilla/hackaton-itau-1/blob/master/itau-1/public/fonts/Itau%20Text%20Light.otf') format('truetype'); 
}

h1{
  font-family: 'itauFontBold', sans-serif;
}

 h2{
  font-family: 'itauFont', sans-serif;
}

p{
  font-family: 'itauFontLight', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
