* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bienvenida{
  padding: 30px;
  font-size: 40px;
}
.btn-chatbot{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding: 40px 0;
  margin-bottom: 20px;
}
.squares{
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-1, .square-2{
  padding:20px 30px;
  margin:0 30px;
  background-color: #F5F5F5;
  border-radius:25px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width:400px;

}

/* .titulo{
  background-color: #003399;

} */

.titulo h3{
  /* color:white; */
  font-size: 15px;
  padding-bottom:5px;
}

.info li{
  margin: 5px 0;
  font-size: 15px;
  line-height: 30px;
}

.info{
  padding:10px 0;
}

.info hr{
width: 400px;
margin-left: -30px;
}